$main-bg-color: #323876;
$sidebar-bg-color: #3543bf;
$header-bg-color: #389981;
$footer-bg-color: #ebbe0c;

body {
  margin:0;
}

.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px 75px auto 75px 35px;
  grid-template-areas:
  "header"
  "right"
  "main"
  "left"
  "footer";
  min-height: 100vh;

  @media screen and (min-width: 960px) {
    grid-template-columns: 100px auto;
    grid-template-rows: 50px auto 75px 35px;
    grid-template-areas:
    "header header"
    "left main"
    "right right"
    "footer footer";
  }

  @media screen and (min-width: 1240px) {
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px auto 70px;
    grid-template-areas:
    "header header header"
    "left main right"
    ".... footer ...";
  }

  .header {
    grid-area: header;
    background-color: $header-bg-color;
  }
  
  .sidebar-right {
    grid-area: right;
    background-color: $sidebar-bg-color;
  }

  .sidebar-left {
    grid-area: left;
    background-color: $sidebar-bg-color;
  }
  
  .main {
    grid-area: main;
    background-color: $main-bg-color;
  }
  
  .footer {
    grid-area: footer;
    background-color: $footer-bg-color;
  }

}