$header_color: green 
$main_color: pink
$footer_color: purple
$header_size: 80px
$footer_size: 50px


body 
    margin: 0
    padding: 0

.wrapper
    display: grid
    grid-template-columns: auto
    grid-template-rows: $header_size 80px auto 60px $footer_size
    grid-template-areas: "header" "left" "main" "right" "footer"
    min-height: 100vh

    .header
        background-color: $header_color
        grid-area: header

    .sidebar-left
        background-color: yellow
        grid-area: left

    .sidebar-right
        background-color: blue
        grid-area: right

    .main
        background-color: $main_color
        grid-area: main

    .footer
        background-color: $footer_color
        grid-area: footer

@media screen and (min-width: 960px)
    .wrapper
        grid-template-columns: 100px auto
        grid-template-rows: $header_size auto 60px $footer_size
        grid-template-areas: "header header" "left main" "left right" "footer footer"

        .header
            background-color: $header_color

        .sidebar-left
            background-color: yellow

        .sidebar-right
            background-color: blue

        .main
            background-color: $main_color

        .footer
            background-color: $footer_color


@media screen and (min-width: 1240px)
    .wrapper
        grid-template-columns: 100px auto 60px
        grid-template-rows: $header_size auto $footer_size
        grid-template-areas: "header header header" "left main right" "footer footer footer"

        .header
            background-color: $header_color

        .sidebar-left
            background-color: yellow

        .sidebar-right
            background-color: blue

        .main
            background-color: $main_color

        .footer
            background-color: $footer_color